.send_button {
    position: relative;
    left: 300px;
    top: 900px;
}

App {
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

form {
    position: relative;
    left: 300px;
    top: 700px;
}